.filter {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-btn{
    display: block;
}

.btn{
    padding: 5px;
    cursor: pointer;

}

.search-input{
    padding: 5px;
}
input{
    width: 200px;
}
input:active{
    border: none;
}
.search-text{
    padding: 0px 10px;
}

