.body{
    padding: 0px 160px;
}
.search {
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-text{
    padding: 10px;
}
.search-input{
    padding: 5px;
}
input{
    width: 200px;
}
input:active{
    border: none;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}