.body{
    padding: 0px 50px;
}

/* .search-text{
    padding: 10px;
} */

.res-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.res-restaurant-card{
    text-decoration: none;
}